$white-color: #ffffff;
$backgraund-color: #ff4343;
$hover-color: #e71414;

$grid-header-color: #2d3033;
$grid-text-color: #6c7279;

$hover-img-color: #ff434dcc;
$active-img-color: #b90c0ccc;

$facebook-light: #8b9dc3;
$facebook-dark: #3b5998;
$lindeklin-light: #0077b5;
$lindeklin-dark: #005f90;
$twitter-light: #1da1f2;
$twitter-dark: #1780c1;

$photos-cantainer-text-back: #5c3249;

$footer-back: #353c65;
$lower-block: #2c3154;
