.personal-card-page {
  max-width: 100%;
  height: auto;
  margin: 115px 0 115px 0;
}

.personal-card-page-content {
  max-width: 1170px;
  height: auto;
  margin: auto;
}

.personal-card-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.personal-photo {
  margin-bottom: 30px;
}

.personal-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #2d3033;
  margin-bottom: 10px;
}

.personal-founder {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ff4343;
  margin-bottom: 17px;
}

.personal-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #6c7279;
  margin-bottom: 40px;
}

.personal-card:hover {
  transition: 0.8s;
  box-shadow: 0 0 5px #000;
  transform: translateY(-10px);
}

.pesonal-card-icons img:hover {
  transition: 0.5s;
  background: #ff4343;
  opacity: 0.8;
  box-shadow: 0 0 3px #000;
}

.pesonal-card-icons img:active {
  transition: 0.3s;
  background: #b90c0c;
  opacity: 0.8;
  box-shadow: 0 0 3px #000;
}
